@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar globally */
html, body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar, body::-webkit-scrollbar, .overflow-y-auto::-webkit-scrollbar {
  display: none;
}
